<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Carter+One&family=Caveat&display=swap">
    <link rel="stylesheet" href="style.css">
    <title>Todo List</title>
</head>

<body>

    <!-- For Time and Date -->
    <% const timeElapsed=Date.now(); %>
        <% const today=new Date(timeElapsed); %>
            <% const daysOfWeek=["Sun", "Mon" , "Tue" , "Wed" , "Thu" , "Fri" , "Sat" ]; %>
                <% const dayName=daysOfWeek[new Date().getDay()]; %>
                    <% const time=(today.getHours()> 9 ? today.getHours() > 12 ? today.getHours()-12 :today.getHours() : "0"+today.getHours()) + " : " +
                        (today.getMinutes() > 9 ? today.getMinutes() : "0"+today.getMinutes()) ; %>


                        <!-- Main -->
                        <main>

                            <!-- ARTICLE -->


                            <!-- Full Menu list -->

                            <% if (locals.listTitle) { %>


                                <article class="article float-lg-left">

                                    <!-- menu icon -->
                                    <h2 class="menu-icon" onclick="menuClick()"><i class="bi bi-list"></i> </h2>
                                    <ul class="list" id="main-list">

                                        <div class="list-items-contsiner">

                                            <!-- List all the listTitles -->
                                            <% mainArray.forEach((arrayObject)=>{ %>

                                                <div class="list-item-line">

                                                    <!-- button of listTitle Name -->
                                                    <input type="button" name="listTitle" class="list-item"
                                                        value="<%= arrayObject.name%> "
                                                        onclick="window.location.href='/<%= encodeURIComponent(arrayObject.name) %>' ">

                                                        <!-- right side delete button -->
                                                    <i class="extraa">
                                                        <form action="/deleteOneList" method="post"
                                                            class="del-form del-for-max-width">
                                                            <input type="hidden" name="listName"
                                                                value="<%= arrayObject.name %>">
                                                            <button type="submit" class="del ">
                                                                <i class="bi bi-trash"></i>
                                                            </button>
                                                        </form>
                                                    </i>
                                                </div>

                                                <% }) %>

                                                    <!-- delete all form -->
                                                    <% if(mainArray.length !==1){ %>
                                                            <button type="submit" class="deleteAll" onclick="deleteAllClick()">
                                                                    <i class="i-delete-all">Delete All</i>
                                                                    <i class="i-all">All</i> 
                                                                    <i class="bi bi-trash"></i>
                                                                </button>

                                                                <dialog class="dialog">
                                                                    <form action="/d/eleteAll" method="post">
                                                                        <i class="bi bi-exclamation-triangle"></i>
                                                                        <p class="caution-dialog">Are you sure to delete all these lists and all of their todos</p>

                                                                        <div class="dialog-buttons">

                                                                            <!-- cancel Btn -->
                                                                            <button class = "cancel-dialog">
                                                                                 <i class="i-delete-all">Cancel</i>
                                                                                </button>

                                                                                <!-- confirm Btn -->
                                                                            <button type="submit" class="confirm-dialog" name="deleteAll"
                                                                            value="delete"> <i class="i-delete-all">Confirm</i>
                                                                            </button>
                                                                        </div>
                                                                        </form>
                                                                </dialog>
                                                        <% } %>
                                        </div>

                                    </ul>


                                    <!-- ListTile Create Form -->
                                    <form action="/create" method="post" onclick="createList()" id="top-create-input"
                                        class="create-form-add-icon create-form-small create-form">

                                        <!-- input field -->
                                        <input type="text" class="create-input" name="newList" placeholder="New List">

                                        <!-- hidden input which take some values to backend -->
                                        <input type="hidden" name="date" value="<%= dayName %>">
                                        <input type="hidden" name="time" value="<%= time %>">

                                        <!-- Add button -->
                                        <button type="submit" class="create-button">+</button>
                                    </form>

                                </article>
                                <% } %>

                                    <!-- Main TodoList  -->

                                    <!-- Parrent if to check if URL is incorrect -->
                                    <% if (listTitle==="" ) { %>

                                        <h2 style="color: grey;"><i class="bi bi-emoji-frown"></i></h2>
                                        <h1 class="incorrect-url-heading">Please write the correct URL</h1>

                                        <!-- parrent else when URL is correct -->
                                        <% }else{ %>

                                            <div class="main-box">

                                                <!-- Header of TodoList -->
                                                <div class="heading">

                                                    <h1 class="main-list-heading">
                                                        <%= listTitle %>
                                                            <p class="main-list-date">
                                                                <%= publishDate +" "+ publishTime%> </p>

                                                                <!-- delete button only for mobile screen -->
                                                        <form action=" /deleteOneList" method="post"
                                                                    class="del-form del-for-min-width">
                                                                    <input type="hidden" name="listName"
                                                                        value="<%= listTitle %>">
                                                                    <button type="submit" class="del ">
                                                                        <i class="bi bi-trash"></i>
                                                                    </button>
                                                                    </form>

                                                    </h1>

                                                </div>

                                                <!-- body todolist  -->
                                                <div class=" form-box">


                                                    <% array.forEach((arrayElement, index)=>{ %>

                                                        <!-- child if to list all index axept first -->
                                                        <% if (index !==0) { %>

                                                            <form class="parrent" action="/delete" method="post">

                                                                <input type="checkbox" class="checkbox">

                                                                <!-- todolist Text  -->
                                                                <p class="next-note">
                                                                    <%= arrayElement.name %>
                                                                </p>
                                                                <input type="hidden" name="listTitle"
                                                                    value="<%= listTitle %>">

                                                                    <!-- todolist text induvisual delete button  -->
                                                                <button class="delete" name="delete"
                                                                    value="<%= arrayElement._id %>" type="submit"><i
                                                                        class="bi bi-trash trash-icon-delete"></i></button>

                                                            </form>
                                                            <%} %>
                                                                <% }) %>


                                                </div>

                                                <!--add listitem in todolist  -->
                                                <form action="/" method="post"
                                                    class="add-form-add-icon add-form-small form-of-input"
                                                    onclick="addNewListItem()" id="add-create-input">

                                                    <!-- input field -->
                                                    <input type="text" name="new_note" placeholder="New item"
                                                        class="new-item-placeholder">

                                                    <input type="hidden" name="listTitle" value="<%= listTitle %>">

                                                    <!-- Add button -->
                                                    <button type="submit" class="add-button">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>

                                                </form>
                                            </div>

                                            <% } %>
                        </main>

                        <!-- Footer -->
                        <% if (listTitle !=="" ) { %>
                            <footer class="footer-parrent">

                                <%const year=new Date().getFullYear(); %>

                                    <p class="footer"> Copyright &#169; <%= year %>
                                    </p>

                                    </div>
                            </footer>
                            <% } %>


                                </div>

                                <script>

                                    var menuFlag = true;

                                    const menuClick = () => {
                                        menuFlag = !menuFlag; // Toggle the menuFlag value

                                        if (menuFlag) {
                                            document.getElementById("main-list").style.width = "230px";
                                            document.querySelector(".list-items-contsiner").style.opacity = 1;
                                            document.querySelector(".create-form").style.opacity = 1;
                                        } else {
                                            document.getElementById("main-list").style.width = "0px";
                                            document.querySelector(".list-items-contsiner").style.opacity = 0;
                                            document.querySelector(".create-form").style.opacity = 0;
                                        }
                                    }

                                    const createList = () => {
                                        document.getElementById("top-create-input").classList.remove("create-form-add-icon");
                                        document.getElementById("top-create-input").classList.add("create-form-large");
                                    }


                                    const addNewListItem = () => {
                                        document.getElementById("add-create-input").classList.remove("add-form-add-icon");
                                        document.getElementById("add-create-input").classList.add("add-form-large");
                                    }

                                    // scripts of dialog

                                    const dialogTag = document.querySelector(".dialog");

                                    const deleteAllClick = ()=>{
                                        document.querySelector(".dialog").classList.add("dialoge-display-block");
                                        dialogTag.showModal();
                                    }

                                    document.querySelector(".cancel-dialog").addEventListener("click",()=>{
                                        dialogTag.close();
                                    })
                                    document.querySelector(".confirm-dialog").addEventListener("click",()=>{
                                        dialogTag.close();
                                    })

                                </script>

</body>

</html>